<%- include("partials/header"); -%>

<h2><%=listTitle%></h2>
<a href="/diaryCompose" class="tools">Composes</a>
<p><%= startingContent %></p>

<p><%= newListItems %></p>





<%- include("partials/footer"); -%>
